* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    height: 280px;
    background-color: 070C3E;
    color: DAA00C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 12%;
}

.cabecalho-lista{
    margin: 10px 16px;
   }

.cabecalho-lista-item{
    display: inline-block;
    margin: 20px 20px 20px 20px;
    font-size: 40px;
}

.cabecalho-nome {
   font-size: 30px;
   height: 70px;
   background-color: #070C3E;
   color: #DAA00C;
   padding: 0 0 0 180px;
}

.corpo {
    height: 500px;
    background-image: linear-gradient(#070C3E, #DAA00C);
    color: #DAA00C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-titulo {
    font-size: 40px;
    padding: 50px 30px 30px 150px;

}

.corpo-texto-um {
    font-size: 22px;
}

.corpo-lista {
    padding: 0 0 0 60px;
    font-size: 30px;
}

.corpo-imagem{
    padding: 80px 0 0 100px;
}

.rodape {
   height: 200;
   background: #DAA00C;
   color: #070C3E;
}

.rodape-grupo {
   display: flex;
   justify-content: center;
   align-items: center;


}

.rodape-icone{
    width: 25px;
}

.rodape-texto{
    font-size: 20px;
    display: block;
    padding: 5px;
}